
.bigbrand{
 font-size : 2em;
}

.techfont{
 font-family: 'Russo One', sans-serif;
 font-size :1.25em;
 margin-bottom :10px;
}

.ul-nav{ padding-right:15px}

.centerstage{margin-left: auto; margin-right: auto; }
.user{margin-top:10px; margin-bottom:-25px; margin-right: 20px ; vertical-align: baseline; color: gray}